/*
* --------------------------------------------
* Custom styles to override the default Bootstrap ones
* --------------------------------------------
*/

/* New Color Palette:
* Lightest (Text):         #6bb300     (text, contrast with dark)
* Dark Green (Primary):    #007d00      
* Light Green (Secondary): #00b3b3      (canvas background)
* Reddish-Brown (Accent):  #00b300
*/

.bg-info {
    background-color: #00b3b3 !important; /* Light green for secondary backgrounds */
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: #007d00;            /* Dark green for brand name & nav links for visibility */
}

.btn-info {
    color: #6bb300;            /* Lightest shade for text on info button for contrast */
    background-color: #00b3b3; /* Light green for button background */
    border-color: #007d00;     /* Dark green for button border */
}

.btn-primary {
    color: #6bb300;            /* Lightest shade for text */
    font-size: 150%;
    background-color: #007d00; /* Dark green for primary button background */
    border-color: #00b300;     /* Reddish-brown for border to use as accent */
    border-width: thick;
}

body {
    background-color: #6bb300; /* Lightest shade for body background to follow the 60% rule */
}

.navbar-brand{
    font-family: 'Caveat', cursive; /*change the font name for what you have*/
    font-size: 2.25rem;
}